body {
  font-family: sans-serif;;
}

* {
  margin: 0;
  padding: 0;
}

h2 {
  font-size: 20px;
  margin: 15px 0;
  color: #fff;
}

p {
  margin: 0;
  font-size: 20px;
  color: #003366;
  font-weight: 500;
  height: 50px;
}

.main {
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #003366;
}

#quote-box {
    width: 450px;
    height: 150px;
    padding: 40px;
    border-radius: 10px;
    background-color: #fff;
}

.actions {
    display: flex;
    align-items: center;
    margin-top: 10px;
    flex-direction: row-reverse;
    justify-content: space-between;
}

#tweet-quote {
    text-decoration: none;
    display: flex;
  }

#author {
  font-size: 15px;
  color: #003366;
  padding: 10px;
  text-align: right;
  margin-top: 10px;
}

button {
  padding: 5px 10px;
  background-color:#003366;
  cursor: pointer;
  color: #fff;
  font-size: 15px;
}

#quote-box button:hover {
  opacity: 0.9;
}

#new-quote {
 align-items: right;
 font-size: 16px;
 font-weight: 600;  
}

.fa.fa-twitter-square {
  color: #003366;
  font-size: 35px;
}

.fa.fa-quote-left {
  font-size: 30px;
  color: #003366;
padding: 5px;
}