* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;;
  }
  
  h2 {
    font-size: 20px;
    margin: 15px 0;
    color: #fff;
  }
  
  p {
    margin: 0;
    font-size: 20px;
    color: green;
    font-weight: 500;
  }
  
  .main {
      display: flex;
      width: 100vw;
      height: 100vh;
      justify-content: center;
      align-items: center;
      background-color: green;
  }
  
  #quote-box {
      width: 450px;
      padding: 40px;
      border-radius: 10px;
      background-color: #fff;
  }
  
  .actions {
      display: flex;
      align-items: center;
      margin-top: 20px;
  }
  
  #tweet-quote {
      margin-left: 15px;
      padding: 7px 10px;
      text-decoration: none;
      color:
  }
  
  #author {
    font-size: 15px;
    color: green;
    padding: 10px;
    text-align: right;
  }
  
  button {
    padding: 5px 10px;
    background-color: green;
    border-radius: 0 10px;
    cursor: pointer;
    color: #fff;
    font-size: 15px;
  }
  
  #quote-box button:hover {
    opacity: 0.9;
  }
  
  #new-quote {
   align-items: right;  
  }
  
  .fa.fa-twitter-square {
    color: green;
    font-size: 30px;
  }
  
  .fa.fa-quote-left {
    font-size: 30px;
    margin-right: 10px;
  }